
&#info {
    padding: 0 0.1rem;
    table {
        margin: 0 auto;
        tr {
            td {
                text-align: left;
                padding: 0 0.5rem;
                color: $control-dark-fg-color;
                &:last-child {
                    text-align: right
                }
            }
        }
    }
}