&#settings {
    display: none;
    text-align: center;
    &.open {
       display: block;
    }
    input, select, option {
        width: 100%;
        font-size: 0.7rem;
        margin-bottom: 0.5rem;
    }
    button {
    	@extend %button;
    	margin: 0.2rem 0;
	}
}